/*------------------------------------*\
    EM
\*------------------------------------*/
/**
 * Convert a px value into ems
 */
@function em($value, $font-size: $sprout-base-font-size) {
    @if type-of($value) == number {

        @if unit($value) == '' {

            $value: $value * 1px;

        }

        @if unit($value) != 'px' {

            @error "`#{$value}` must be in pixels, or unitless.";

        }

    } @else {

        @error "`#{$value}` must be a number.";

    }

    @if $is-old-browser == true {

        @return $value;

    }

    @return $value / $font-size * 1em;
}

/**
 * Create a declaration with an em value.
 */
@mixin em($property, $value, $font-size: $sprout-base-font-size) {
    #{$property}: em($value, $font-size);
}