/*------------------------------------*\
    FONT-SIZE
\*------------------------------------*/
/**
 * Generate font-size, with fallbacks, and a base-line compatible line-height.
 */
@mixin font-size($font-size, $line-height: none, $important: false) {
    @if ($important == true) {
        $important: !important;
    } @else {
        $important: null;
    }

    @if ($is-old-browser == true) {
        font-size: $font-size $important;
    }

    font-size: ($font-size / $sprout-base-font-size) * 1rem $important;

    @if ($line-height == 'auto') {

        line-height: ceil($font-size / $sprout-base-line-height) * ($sprout-base-line-height / $font-size) $important;

    } @else {

        @if (type-of($line-height) == number or $line-height == 'inherit' or $line-height == 'normal') {

            line-height: $line-height $important;

        } @elseif ($line-height != 'none' and $line-height != 'false') {

            @error "`#{$line-height}` is not a valid value for `$line-height`.";

        }

    }
}