$sprout-enable-block:                                             false!default;
$sprout-enable-box:                                               false!default;
$sprout-enable-crop:                                               true!default;
$sprout-enable-flag:                                              false!default;
$sprout-enable-grid:                                               true!default;
$sprout-enable-list--bare:                                        false!default;
$sprout-enable-list--inline:                                      false!default;
$sprout-enable-media:                                              true!default;
$sprout-enable-ratio:                                             false!default;
$sprout-enable-section:                                            true!default;
$sprout-enable-wrap:                                               true!default;


$sprout-enable-clearfix:                                           true!default;
$sprout-enable-hidden:                                             true!default;
$sprout-enable-print:                                              true!default;
$sprout-enable-spacing:                                            true!default;
$sprout-enable-widths:                                             true!default;