$sprout-hidden-queries: (
    '':                null,
    '--xsmall':         xsmall,
    '--small':          small,
    '--small-down':     (max:small),
    '--medium':         medium,
    '--medium-up':      (min:medium),
    '--large':          large,
    '--large-up':       (min: large),
    '--xlarge':         xlarge
)!default;

@if $sprout-enable-hidden {



@each $breakpoint-name, $breakpoint-query in $sprout-hidden-queries {
    @include mq($breakpoint-query) {
        .hidden-visually#{$breakpoint-name},
        .accessibility#{$breakpoint-name} {
            @include visually-hidden();
        }

        .hidden#{$breakpoint-name} { display: none !important; }
    }
}




}