@mixin sprout-columns($columns, $breakpoint: null) {
    $column-names: ();

    @each $denominator in $columns {
        @for $numenator from 1 through $denominator {
            $ratio: ceil(($numenator/$denominator)*100);
            $column-name: w-#{$ratio}#{$breakpoint};

            @if not index($column-names, $column-name) {
                %#{$column-name} { width: ($numenator/$denominator)*100% !important; }
                $column-names: append($column-names, $column-name);
            }

            .w-#{$numenator}-#{$denominator}#{$breakpoint} {
                @extend %#{$column-name};
            }
        }
    }
}


$sprout-columns: 1 2 3 4 6!default;

$sprout-column-queries: (
    '':                null,
    '-xsmall':         xsmall,
    '-small':          small,
    '-small-down':     (max:small),
    '-medium':         medium,
    '-medium-up':      (min:medium),
    '-large':          large,
    '-large-up':       (min: large),
    '-xlarge':         xlarge
)!default;

@if $sprout-enable-widths {

@each $column-name, $column-query in $sprout-column-queries {
    @include mq($column-query) {
        @include sprout-columns($sprout-columns, $column-name);
    }
}



}