/*------------------------------------*\
    GRID
\*------------------------------------*/
/**
 * Grid System!
 *
 * The grid object gives a column-y layout system. Classes should be used with
 * width utility classes to make a layout.
 *
    <div class="grid">
        <div class="grid__item w-1-2"></div>
        <div class="grid__item w-1-2"></div>
    </div>
 *
 */

$sprout-grid-spacing--xsmall : round($sprout-grid-spacing * $sprout-spacing-unit__factor--xsmall);
$sprout-grid-spacing--small  : round($sprout-grid-spacing * $sprout-spacing-unit__factor--small );
$sprout-grid-spacing--large  : round($sprout-grid-spacing * $sprout-spacing-unit__factor--large );
$sprout-grid-spacing--xlarge : round($sprout-grid-spacing * $sprout-spacing-unit__factor--xlarge);

$sprout-grid-vertical--xsmall : round($sprout-grid-vertical * $sprout-spacing-unit__factor--xsmall);
$sprout-grid-vertical--small  : round($sprout-grid-vertical * $sprout-spacing-unit__factor--small );
$sprout-grid-vertical--large  : round($sprout-grid-vertical * $sprout-spacing-unit__factor--large );
$sprout-grid-vertical--xlarge : round($sprout-grid-vertical * $sprout-spacing-unit__factor--xlarge);

@if $sprout-enable-grid {




.grid {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: rem(-$sprout-grid-spacing);
    margin-bottom: rem(-$sprout-grid-vertical);

    display: flex;
    flex-flow: row wrap;

    &__item {
        box-sizing: border-box;
        width: 100%;
        padding-left:  rem($sprout-grid-spacing);
        margin-bottom: rem($sprout-grid-vertical);
        display: block;
    }




    /* Gutter variants */
    &--flush           { margin-left:  0; }
    &--flush > &__item { padding-left: 0; }

    &--xsmall           { margin-left:  rem(-$sprout-grid-spacing--xsmall); margin-bottom: rem(-$sprout-grid-vertical--xsmall); }
    &--xsmall > &__item { padding-left: rem( $sprout-grid-spacing--xsmall); margin-bottom: rem( $sprout-grid-vertical--xsmall); }

    &--small           { margin-left:   rem(-$sprout-grid-spacing--small ); margin-bottom: rem(-$sprout-grid-vertical--small ); }
    &--small > &__item { padding-left:  rem( $sprout-grid-spacing--small ); margin-bottom: rem( $sprout-grid-vertical--small ); }

    &--large           { margin-left:   rem(-$sprout-grid-spacing--large ); margin-bottom: rem(-$sprout-grid-vertical--large ); }
    &--large > &__item { padding-left:  rem( $sprout-grid-spacing--large ); margin-bottom: rem( $sprout-grid-vertical--large ); }

    &--xlarge           { margin-left:  rem(-$sprout-grid-spacing--xlarge); margin-bottom: rem(-$sprout-grid-vertical--xlarge); }
    &--xlarge > &__item { padding-left: rem( $sprout-grid-spacing--xlarge); margin-bottom: rem( $sprout-grid-vertical--xlarge); }




    /* Alignment variants */
    &--top    { align-items: flex-start; }
    &--middle { align-items: center; }
    &--bottom { align-items: flex-end; }




    /* Fill order variants */
    &--center { justify-content: center; }
    &--right  { justify-content: flex-end; }




    &--reverse {
        flex-direction: row-reverse;
    }
}




}