/*------------------------------------*\
    LIST--BARE
\*------------------------------------*/
/**
 * Remove bullets and indentation from lists.
 */
@if $sprout-enable-list--bare {



.list--bare {
    list-style: none;
    margin-left: 0;
}



}