/*------------------------------------*\
    RATIO
\*------------------------------------*/
/**
 * Keep media (e.g. images, videos) in their correct aspect ratios.
 */

$sprout-ratio: (
    4:3,
    16:9,
)!default;

@if $sprout-enable-ratio {




.ratio {
    position: relative;
    display: block;
    overflow: hidden;

    &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }

    &__content,
    & > iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}




/* Size variants */
@each $antecedent, $consequent in $sprout-ratio {

    @if (type-of($antecedent) != number) {
        @error "`#{$antecedent}` must be a number."
    }

    @if (type-of($consequent) != number) {
        @error "`#{$consequent}` must be a number."
    }

    .ratio--#{$antecedent}-#{$consequent}::before {
        padding-bottom: ($consequent/$antecedent) * 100%;
    }
}



}