/*------------------------------------*\
    SECTIONS
\*------------------------------------*/
/**
 * Spacing for section level elements.
 */

$sprout-section-sizes: (
    null: (
        (max: small) : 54px,
        (medium)     : 64px,
        (min: large) : 72px
    ),
)!default;

@if $sprout-enable-section {




.section {
    /* Size variants */
    @each $size, $value in $sprout-section-sizes {
        &#{$size} {

            @if type-of($value) == map {

                @each $query, $value in $value {

                    @include mq($query) {
                        margin-top: rem($value);
                        &:last-child { margin-bottom: rem($value); }

                        &--inner {
                            padding-top: rem($value);
                            padding-bottom: rem($value);
                        }
                    }

                }

            } @else {

                margin-top: rem($value);
                &:last-child { margin-bottom: rem($value); }

                &--inner {
                    padding-top: rem($value);
                    padding-bottom: rem($value);
                }
            }

        }
    }

    &--flush-after + &--flushable,
    &--flushable:first-child { margin-top: 0; }

    &--flush-after:last-child { margin-bottom: 0; }
}



}